<h3>Your request has been approved!</h3>

hello, we confirm that your request has been approval and you will be contacted soon!
Stay tuned.

{# example, assuming you have a route named "login" #}

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
