<h3>Your request has been disaapproved!</h3>

hello, we confirm that your request has been disaapproved !
Sorry for the news and good luck next time.

{# example, assuming you have a route named "login" #}

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
