<h3>You did it! You registered!</h3>

With this Mail we confirm your registreation in our Website

{# example, assuming you have a route named "login" #}

Thanks!

{# Makes an absolute URL to the /images/logo.png file #}
